*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body , html{
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    overflow-x: hidden;
}


/* Page 1 */
#page1{
    height: 100vh;
    width: 100vw;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page1 h1{
    font-size: 8.5vw;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 8.5vw;
}
#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
}
#page1-capsules{
    display: flex;
    align-items: center;
    justify-content: center;

}
#page1-capsules h4{
    font-size: 1vw;
    font-weight: 400;
    text-transform: lowercase;
    padding: 5px 10px;
    border: 1px solid rgb(165, 163, 163);
    border-radius: 50px;
    margin-top: 0.5vw;
}



#page1 h1 svg{
    height: 6vw;
    width: 6vw;
    background-color: #0DA34E;
    border-radius: 50px;
}



/* NavBar */

nav{
    height: 14vh;
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    /* padding: 2vw 4vw; */
    /* background-color: red; */
    justify-content: space-between;   
    padding: 1.6vw 9vw;
    background-color: #111;
    z-index: 10;
    /* border: 2px solid red; */
    padding-left: 5vw;

}
nav h1{
    font-weight: 800;
    /* color: blue; */
    font-size: 1.6vw;
}
.nav-middle{
    display: flex;
    gap: 1.5vw;
    /* border: 2px solid green; */
    /* margin-right: 10%; */
}
.nav-middle h4{
    font-size: 0.85vw;
    text-transform: uppercase;
    font-weight: 600;
    cursor:default;
}
.nav-middle h4:hover{
    color: #4A4A4A;
    transition: 0.3s ;
}
#nav-bottom{
    /* background-color: green; */
    height: 0px;
    width: 90%;
    /* border: 2px solid green; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0%;
    transition: all ease 0.5s;
    border-bottom: 2px solid white;
    display: flex;
    align-items: flex-start;
    /* justify-content: ; */
    padding-top: 1vw;
    padding:1vw 16vw;
    background-color:#111 ;
    z-index: -1;
    /* gap: 1vw; */
    /* border: 2px solid red; */
}
.bottom-content h5 span{
    font-size: 1vw;
    font-weight: 500;
    display: inline-block;
    margin-right: 1.8vw;
    display: none;
    /* margin-top: 2vh; */
}
.bottom-content{
    margin-top: 1vw;
    /* border: 2px solid yellow; */
}
#nav-bottom h5{
    overflow: hidden;
}
.bottom-content h5{
    margin-bottom: 0.7vw;
    overflow: hidden;
    /* background-color: red; */
    cursor: pointer;
}
.bottom-content h5>span:hover{
    color: #4A4A4A;
    transition: 0.3s;
}
button{
    background-color: #0DA34E;
    font-size: 0.9vw;
    border-radius: 50px;
    padding: 1vw 1vw;
    width: 13%;
    /* height: 1vw; */
    position:relative;
    left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 700;
    text-transform:uppercase;
}
button>span{
    /* border: 2px solid red; */
    width: 15%;
    padding: 0vw;
    height: 100%;
}



/* Page-1 img Scroller */
#content span{
    width: 1vh;
    /* border: 2px solid red; */
    opacity: 0.1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    line-height: 2vw;
    margin: 0% 2vw;
}
#scroller{
    /* border: 2px solid red; */
    position: relative;
    top: 12%;
    z-index: 1;
    display: flex;
    width: 55%;
    padding: 1.6vw;
    overflow: hidden;
}
#content{
    display: flex;
    gap: 2.2vw;
    animation: scroll 19s infinite linear;
}
@keyframes scroll{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
#blur-left{
    height: 100%;
    width: 10%;
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 2;
    /* background-color: red; */
    background: linear-gradient(to left , transparent , #111);
}
#blur-right{
    height: 100%;
    width: 10%;
    position: absolute;
    top: 0;
    right: 0%;
    z-index: 2;
    /* background-color: red; */
    background: linear-gradient(to right , transparent , #111);
}



/* Page-2 */

#page2{
    height: 100vh;
    width: 100vw;
    background-color: #111;
    /* border: 2px solid blue; */
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0vw 8vw;
    padding-bottom: 5vw;
    align-items: center;
    justify-content: space-between;
    border-top:1px solid #333 ;
}
#page-2-left{
    height: 100%;
    width: 40%;
    /* background-color: #4A4A4A; */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    padding: 3vw 0;
}
#page-2-left p{
    font-size: 0.9vw;

}
#page-2-left h5{
    width: 75%;
    font-weight: 400;
    font-size: 1.4vw;
}
#page-2-right{
    height: 100%;
    width: 55%;
    /* background-color: #4A4A4A; */
}
.right-content{
    position: relative;
    /* background-color: red; */
    padding-top: 2vw;
    padding-bottom: 6vw;
    border-bottom: 1px solid #333;
    cursor: pointer;
}
.right-content h2{
    font-size: 1.4vw;
    font-weight: 400;
}
.right-content img{
    height: 7vw;
    width: 7vw;
    border-radius: 50px;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    scale: 0;
}



/* Page 3 */

#page3{
    height: 100vh;
    width: 100vw;
    background-color: #111;
    background-image: url(Assets/page3.webp);
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page3-center{
    /* background-color: red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1vw;
}
#page3-center h5{
    font-size: 0.8vw;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border-radius: 50px;
    margin-top: 1.5vw;
    font-weight: 700;
    opacity: 0;
    transition: all ease 0.5s;
    transform: translateY(10%);
}
#page3-center:hover h5{
    opacity:1;
    transform: translateY(0%);
}
#icon{
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5vw;
    border-radius: 50%;
    background-color: white;
}
#icon i{
    color: black;
    font-size: 4.5vw;
}

#page3 video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.7) scaleY(0);
    border-radius: 30px;
    opacity: 0;
}


/* Page -4 */

#page4{
    height: 100vh;
    width: 100vw;
    position: relative;
    color: black;
    display: flex;
    flex-direction: row;
    padding: 6vw 2vw ;
    align-items: center;
    justify-content:space-around;
}
#page4-left{
    width: 40%;
    height: 100%;
    /* border: 1px solid grey; */
}
#page4-left h1{
    color: black;
    width: 70%;
    font-size: 3vw;
    font-weight: 600;
    text-transform: capitalize;
}
#page4-right{
    width: 50%;
    height: 100%;
    color: black;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#page4-right h4, p{
    color: black;
    font-size: 1.7vw;
    font-weight: 400;
}
#page4-right h4{
    color: grey;
    font-size: 1vw;
    text-transform: uppercase;
}
#page4-right p{
    width: 90%;
}
#p1{
    /* border: 1px solid red; */
    height: 56%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#p2{
    /* border: 1px solid red; */
    height: 33%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* Page-5 */
#page5{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
    padding: 2vw  6vw  ;
    position: relative;
}
#upper{
    width: 100%;
    height: 50%;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
#lower{
    width: 100%;
    height: 50%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.card{
    width: 32%;
    height: 90%;
    /* border: 1px solid brown; */
    padding: 2vw;
    background-color: #F5F5F5;
    position: relative;
}
#page5 h1{
    color: #111111;
    font-size: 4vw;
    font-weight: 500;
    line-height: 1.2;
    /* border: 1px solid blue; */
}
#page5 h5{
    color: black;
    font-weight: 500;
    margin-top: 7%;
}
#page5 p{
    font-size: 0.9vw;
    position: absolute;
    bottom: 10%;
    color: grey;
}

/* Page-6 */
#page6{
    min-height: 100vh;
    width: 100vw;
    position: relative;
}
#section1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10vh 10vw;
}
#sec1-left{
    height: 80vh;
    width: 27%;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    padding: 3vh 0vw;
    border-top:2px solid #333 ;
    align-items: flex-start;
    gap: 8vw;
}
#sec1-left h2{
    color: black;
    font-weight: 300;
    font-size: 2.2vw;
}
#sec1-left p{
    font-size: 1.2vw;
    /* width: 120%; */
}
#sec1-right{
    height: 80vh;
    width: 65%;
    /* border: 2px solid red; */
    position: relative;

}
#sec1-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#sec1-right video{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity:1 ;
    transition: opacity 0.2s ease;
}

#circle{
    border-radius: 50%;
    background-color: blue;
    width: 12vw;
    height: 12vw;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    scale: 0;
    position: relative;
    gap: 1vw;
    padding: 0 1vh;
    font-weight: 600;
    flex-direction: column-reverse;
}
#circle i{
    font-size: 1.4vw;
    margin-left: 70%;
    transform: translateY(-100%);
}
/* Page7 */

#page7{
    min-height: 100vh;
    width: 100vw;
    background-color: #111;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10vh 8vw;
    padding-left: 2vw;
}

#button>button{
    background-color: #0DA34E;
    padding: 1.5vw 2vw;
    font-size: 0.9vw;
    border-radius: 50px;
    border: none;
    width: 100%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 1vh;
    
}
#p7btn{
    /* border: 2px solid red; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    /* position: relative; */
    width: 30%;

}
#page7>button>i{
    font-size: 1.2vw;
}



#page7-right{
    width: 65%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}   
#page7-right p{
    font-size: 2.3vw;
    color: #FFFFFF;
}
#page7-right p span{
    width: 15vw;
    display : inline-block;
    font-size: 1vw;
    text-transform: capitalize;
}
#page7-content{
    width: 100%;
    /* background-color: red; */
    margin-top: 12vh;
    padding: 2vh 0;
    /* border-top: 2px solid white; */
}
#page7-content h1{
    font-size: 3vw;

}
#flex{
    display: flex;
    padding: 1.5vw 0;
}
#flex h4{
    border-radius: 50px;
    border: 1px solid grey;
    font-weight: 400;
    padding: 0.5vw  1vw;
    text-transform: uppercase;
    font-size: 0.8vw;
}

#page7-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 2vw ;
    padding-bottom: 5vw;
    /* background-color: red; */
    position: relative;
    overflow: hidden;
    transition: 0.3s all ease;
    border-top: 2px solid #333;
    cursor: pointer;
}
#page7-elem p{
    font-size: 1vw;
    width: 60%;
    z-index: 6;
}
#page7-elem h3{
    font-weight: 400;
    font-size: 1.5vw;
    z-index: 6;
    transition: 0.5s all;
}
#page7-elem i{
    font-size: 1.5vw;
    z-index: 6;
    transition: 0.5s all;
}
#hover{
    background-color: #222;
    width: 100%;
    position: absolute;
    height: 100%;
    opacity: 0;
    transform: translateY(-100%);
    top: 0;
    transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
}
#page7-elem:hover h3{
    padding-left: 1vw;
} 
#page7-elem:hover i{
    padding-right: 1vw;
    transform: translateY(-5px);
} 
#page7-elem:hover #hover{
    transform: translateY(0%);
    opacity: 1;
}
#page7-elem:hover{
    border-top: 2px solid white;
}
::marker{
    content: "";
}

summary{
    border-top: 2px solid #333;
    padding: 1vw 0;
    transition: 0.3s ease all;
    cursor: pointer;
    list-style-image: url("Assets/Down\ arror.png");
    list-style-type: disc;    
}
details[open]>summary{
    border-top: 2px solid #fff;
}
#head{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* border: 2px solid red; */
    align-items: center;
}
#head i{
    font-size: 1.5vw;
    margin-right: 2vw;
    transition: all 0.5s ease;
}
details[open] #head>i{
    transform:rotateZ(180deg);
}

/* Page 6.5 */
#page6next{
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: relative;
    
    padding: 5vh 10vw;
}
#page6-content{
    /* border: 2px solid red; */
    height: 90%;
    width: 60%;
    left: 50%;
    position: absolute;
    transform: translateX(-30%);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
}
#content-card{
    height: 100%;
    width: 48%;
    /* border: 2px solid blue; */
    border-top: 1px solid rgba(128, 128, 128, 0.349);
    color: black;
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s all ease;
}
#content-card:hover{
    border-top: 2px solid black;
}
#heading{
    display: flex;
    gap: 1vw;
    align-items: center;
    /* justify-content: center; */
}
#content-card h1{
    color: black;
    font-weight: 300;
    font-size: 2.5vw;
    cursor: pointer;
}
#arrow{
    height: 0.8vw;
    width: 1.6vw;
}
#content-card p{
    font-size:1.2vw;
    font-weight: 500;
    /* padding-top: 4vw; */
    /* transition: 0.5s ease all; */
}
#img-card{
    height: 50%;
    width: 100%;
    /* border: 2px solid green; */
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: 0.7s ease-out all;
    align-items: end;
    justify-content:end;
}

#imgs{
    height: 5vh;
  
}
#imgs img{
    height: 100%;
    margin-top: 2vw;
}
#img-card img{
    width: 100%;
    height: 100%;
    scale: 1;
    z-index: 5;
    display: flex;
    object-fit: cover;
}
#img-card video{
    height: 100%;
    width: 100%;
    padding: 0;
    z-index: 6;
    opacity: 0;
    position: absolute;
    /* border: 1px solid blue; */
    scale: 1.4;
    transition: 0.3s ease all;
}
#hover-effect{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 90%;
    /* padding-top: 3.5vw; */
    position: relative;
}

/* Page-8 */
#page8{
    background-color: white;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    padding: 10vh 10vw;
}
#page8>h1{
    color: black;
    font-size: 5.8vw;
    padding-left: 23vw;
    padding-right: 5vw;
    line-height: 5.8vw;
    padding-bottom: 10vh;
    border-bottom: 2px solid #333;
}
#page8-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5vw 0;
}
#right-8{
    width: 70%;
}
#right-8 p{
    font-size: 1.4vw;
    margin-bottom: 5vw;
    width: 80%;
}
#btn{
    background-color: #4f5bff;
    width: 15vw;
    height: 4vw;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 20%;
}
#btn h4{
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8vw;
}
#btn i{
    font-size: 1.2vw;
    margin-left: 0.5vw;
    font-weight: 400;
}

#page8-bottom{
    height: 45vh;
    width: 100%;
    /* background-color: red; */
    border-top: 1px solid #dadada;
    display: flex;
    color: black;
    align-items: flex-start;
    justify-content: center;
}
#p8p1{
    border-right: 1px solid #dadada;
    width: 30%;
    height: 100%;
}
#p8p2{
    border-right: 1px solid #dadada;
    width: 35%;
    height: 100%;
}
#p8p3{
    border-right: 1px solid #dadada;
    width: 25%;
    height: 100%;
}

#p8p4{
    border-right: 1px solid #dadada;
    width: 20%;
    height: 100%;
}
#p8p5{
    /* border-right: 1px solid #dadada; */
    width: 20%;
    height: 100%;
}
.btm-p{
    padding: 3vh 0.6vw;
}
.btm-p h5{
    color: black;
    font-weight: 500;
    font-size: 1vw;
    margin-bottom: 3vh;
}
.btm-p h4{
    background-color: #111;
    width: 80%;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 0.8vw;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 0.3vh;
}
.btm-p h4 span{
    display: flex;
    align-items: center;
    justify-content: center;
    width:1.5vw;
    height: 1.5vw;
    background-color: #333;
    padding: 0.5vw;
    border-radius: 50px;
    margin-right: 1vw;
}
#p8p2 h4:nth-child(2){
    transform: translateX(0%);
}
#p8p2 h4:nth-child(3){
    transform: translateX(10%);
}
#p8p2 h4:nth-child(4){
    transform: translateX(20%);
}
#p8p2 h4:nth-child(5){
    transform: translateX(30%);
}
#p8p2 h4:nth-child(6){
    transform: translateX(40%);
}
#p8p2 h4:nth-child(7){
    transform: translateX(50%);
}
#p8p3 h4:nth-child(2){
    transform: translateX(5%);
}
#p8p3 h4:nth-child(3){
    transform: translateX(20%);
}
#p8p4 h4:nth-child(2){
    transform: translateX(0%);
}

#p8p4 h4:nth-child(3){
    transform: translateX(15%);
}

#p8p4 h4:nth-child(4){
    transform: translateX(30%);
}

/* Page 9 */
#page9{
    height: 100vh;
    width: 100vw;
    background-color: white;
}